html{
    background-color: #f5f5f7;
    font-family: "Roboto", sans-serif;
}

body{
    display:grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "r1"
    "r2"
    "r3"
    "r4";
}

h1{
    grid-area: r1;

}

#banner{
    grid-area: r2;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2{
    /* font-size: larger; */
    font: bolder;
    padding-top: 50px;
    padding-bottom: 70px;
}

table{
    grid-area: r3;
    border: solid black;
    border-collapse: collapse; /* Collapse border spacing */
    width: 50%; /* Make table width 50% */
}

th{
    background-color: rgb(214, 241, 252);
    border: 1px solid #000; /* Apply border to all sides of th */
    padding: 8px; /* Add padding for cell content */
    text-align: center;
}

td{
    border: 1px solid #000; /* Apply border to all sides of td */
    padding: 8px; /* Add padding for cell content */
    text-align: center;
}

#total{
    font-weight: bold;
}

#footer{
    grid-area: r4;
    display: flex;
    flex-direction: row;
}

#back button {
    font-size: 30px; /* Increase the size of the emoji */
    padding: 20px;
    border: none; /* Rounded corners */
    background-color: transparent;
}

#print button {
    font-size: 30px; /* Increase the size of the emoji */
    padding: 20px;
    border: none; /* Rounded corners */
    background-color: transparent;
}

button{
    cursor: pointer; /* Pointer cursor on hover */
}

[name="price"]{
    text-align: right;
    display: block;
}

#sum{
    text-align: right;
    display: block;
}


@media print{
    #banner{

        width: 100%;
    }


    table{
        width: 100%; /* Make table width 50% */
    }

    #footer{
        display: none;
    }
}

@media screen and (max-width:932px){
    #banner{

        width: 100%;
    }


    table{
        width: 100%; /* Make table width 50% */
    }

    h2{
        font-size: medium;
    }

}
