<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Inventory Management System</title>
</head>
<body>
    <h1>Welcome to IntentSolns Inventory Management Application</h1>
    <div id="optns">
        <div id="optn1">
            <h3>Inventory Managment</h3>
            <img id="i1" src="{{ url_for('static', filename='media/Inventory.jpg') }}" alt="a picture of a person taking inventory">
            <a  href="/inventory" target="blank" id="btn1" class="button">Go to</a>
        </div>
        <div id="optn2">
            <h3>Sales</h3>
            <img id="i2" src="{{ url_for('static', filename='media/sales.jpg') }}" alt="a picture of someone buying something">
            <a href="/sales" target="blank" class="button">Go to</a>
        </div>
    </div>
    <script src="{{ url_for ('static', filename='scripts/index.js') }}"></script>
</body>
</html>
